<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Conversão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <style>
        .card {
            background-image: url('/static/ceu.jpg');
            background-size: cover;
            background-position: center;
            border: none;
            border-radius: 22px;
            height: 400px;
            width: 500px;
        }
        h5 {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        .btn-right {
            float: right;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Converter Documento em Áudio</h5>
                <form action="/converter_audio" method="post" enctype="multipart/form-data"><br>
                    <div class="form-group">
                        <input type="file" name="documento" class="form-control-file" required><br>
                    </div>
                    <div class="form-group">
                        <label for="lang">Selecione o idioma:</label>
                        <select name="lang" class="form-control" id="lang" required>
                            <option value="pt">Português</option>
                            <option value="en">Inglês</option>
                            <option value="es">Espanhol</option>
                            <option value="fr">Francês</option>
                            <option value="de">Alemão</option>
                        </select><br>
                    </div>
                    <button type="submit" class="btn btn-primary btn-right">Converter</button>
                </form><br>
                <hr> <!-- Adicionado separador -->
                <h5 class="card-title">Captar Fala</h5>
                <form action="/captar_fala" method="post">
                    <button type="submit" class="btn btn-secondary">Captar Fala</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
